<app-header></app-header>

<div class="card ">
    <div class="card-body">
        <app-slider-gallery ></app-slider-gallery>
         
         <div class="clear"></div>
        <div class="traking-perfil perfil-galeria">
            <div class="trak-user-name">
                <h1><b>Jenny,</b> 26</h1>
                <p>Active today <br>
                   Now more than 6 ml away</p>
               <div class="clear"></div>
               <ul>
                   <li>Occupation: Layer</li>
                   <li>Wants kids: No</li>
                   <li>Smoke: No</li>
                   <li>Drink: Casual</li>
                </ul>
           </div>
           
            <div class="clear"></div>
            <a routerLink="/chat"><button class="butonhome" style="margin-bottom: 30px;">Chat</button></a> 
   </div>
   </div>
</div>