<app-header></app-header>

<div class="card ">
    <div class="card-body">
        <app-slider-gallery ></app-slider-gallery>
        
         
         <div class="clear"></div>
        <div class="traking-perfil">
            <div class="trak-user-name">
                <h1><b>Jenny,</b> 26</h1>
                <p>Active today <br>
                   Now more than 6 ml away</p>
               <div class="clear"></div>
               <ul>
                   <li>Occupation: Layer</li>
                   <li>Wants kids: No</li>
                   <li>Smoke: No</li>
                   <li>Drink: Casual</li>
                </ul>
           </div>
           
            <div class="clear"></div>
            <div class="stats">
                 <div class="stat">
                     <span class="label">Drinks</span>
                     <span class="value">$26,00</span>
                 </div>
                 <div class="stat" style="margin-left: 10px;">
                     <span class="label">Dinner</span>
                     <span class="value">$260,00</span>
                 </div>
                 <div class="clear"></div>
                 <div class="stat" style="border-left: none;">
                     <span class="label">Events</span>
                     <span class="value">$2600,00</span>
                 </div>
                 <div class="stat" style="margin-left: 10px;">
                     <span class="label">Party</span>
                     <span class="value">$5000,00</span>
                 </div>
               </div>
                <div class="clear"></div>
                 <div class="waytopay">
                    <select name="paisEs" class="form-control cuadroInput" required>
                       <option value="">Select way to pay</option>
                       <option value="">Visa</option>
                       <option value="">Master</option>
                       <option value="">Paypal</option>
                   </select>
                   <a routerLink="/chat"><button class="butonhome" style="margin-bottom: 30px;">Chat</button></a>    
                 </div>
        </div>
   </div>
</div>