<div class="container mt-3 mb-3">
    <div id="logreg-forms">


        <form [formGroup]="registerForm" (ngSubmit)="crearUsuario()" autocapitalize="off" class="form-signup">
            <div class="social-login">
                <button class="btn facebook-btn social-btn" type="button"><span><i class="fa fa-facebook-f"></i> Sign up with Facebook</span> </button>
            </div>
            <div class="social-login">
                <button class="btn google-btn social-btn" type="button"><span><i class="fa fa-google-plus-g"></i> Sign up with Google+</span> </button>
            </div>

            <p style="text-align:center">OR</p>

            <input type="text" id="user-name" class="form-control" formControlName="username" placeholder="Username" required="" autofocus="">
            <input type="email" id="user-email" class="form-control" formControlName="email" placeholder="Email address" required autofocus="">
            <input type="password" id="user-pass" class="form-control" placeholder="Password" formControlName="password" required autofocus="">
            <input type="password" id="user-repeatpass" class="form-control" placeholder="Repeat Password" formControlName="password2" required autofocus="">
            <div class="form-group row">
                <div class="col-md-12">
                    <div class="checkbox checkbox-primary p-t-0">
                        <input id="checkbox-signup" formControlName="terminos" type="checkbox">
                        <label for="checkbox-signup"> Acepto las <a href="javascript:void(0)"  data-bs-toggle="modal" data-bs-target="#condiciones">Condiciones </a></label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col text-danter">
                    <p *ngIf="campoNoValido('username')"><span>*</span> El username es obligatorio</p>
                    <p *ngIf="campoNoValido('email')"><span>*</span> El email es obligatorio y debe ser valido</p>
                    <!-- <p *ngIf="aceptaTerminos()"><span>*</span> Debe aceptar los términos de uso</p> -->
                    <p *ngIf="passwordNoValido()"><span>*</span> La Contraseña deben ser iguales </p>
                </div>
            </div>
            <button class="btn btn-primary btn-block" type="submit" (click)="crearUsuario()"><i class="fas fa-user-plus"></i> Sign Up</button>
            <a (click)="goToLogin()" id="cancel_signup"><i class="fa fa-angle-left"></i> Back</a>
        </form>
        <br>

    </div>
</div>
<app-modal-condiciones></app-modal-condiciones>