.buttons_group{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    justify-content: center;
    margin-bottom: 20px;
    padding-bottom: 20px;
    & .butonhome{
        width: 30vw;
        padding: 5px;
    }
}