<header>
    <nav id="menu-principal">
        <ul class="menu menu-principal ">
            <a href="javascript:void(0)" (click)="closeMenu()" class="close"><i class="fa fa-close"></i></a>
           <img [src]="'./assets/images/foto-perfil.jpg'" alt="">
          
            <li> <h4 class="text-center" style="color: #fff;">{{'saludo'| translate}}, {{user.first_name}}!</h4></li>
            <li><a routerLink="/start-meet">{{'Home'| translate}}</a></li>
            <li><a routerLink="selection-action.html">{{'Payment Methods'| translate}}</a></li>
            <li><a [routerLink]="['/myprofile/', user.uid]">{{'Profile'| translate}}</a></li>
            <li><a routerLink="/tracking">Tracking</a></li>
            <li><a href="#" (click)="onLogout()">{{'auth.Logout'| translate}}</a></li>
        </ul>
    </nav>
    <div id="top">
           <div class="grupo row">
               <div class="caja col-xs-10 nopadd">
                   <div id="mostrar-menu" ><i class="fa fa-bars" (click)="openMenu()"></i></div>
                   <!-- <div class="btn-back">
                        <a (click)="goBack()">
                            <i class="fa fa-chevron-left" aria-hidden="true"></i>
                        </a>
                    </div> -->
                    <a routerLink="/start-meet">

                        <div class="logo2"></div>
                    </a>
                   <div class="caja2">
                       <div id="mostrar-menu-secundario">
                          <!-- <a routerLink="/"><div class="toggle-vertical"><i class="fa fa-sign-out"></i></div></a> -->
                          <div class="perfilf">
                            <a [routerLink]="['/myprofile/', user.uid]">
                                <img [src]="'./assets/images/foto-perfil.jpg'" alt="">

                            </a>
                        </div>
                       </div>
                   </div>
               </div>
           </div>
    </div>

        
</header>