@charset "UTF-8";

/* CSS Document */


/*Author: Malcolm cordova @malcolmcordova mercadocreativo@gmail.com www.malcolmcordova.com*/

@import url("menus.css");
@import url("retina.css");
@import url("tabs.css");
@import url("chat.css");
@import url("slider-fotos.css");
@import url("loader.css");
@import url("loginnuevo.css");
@import url("checkbox.css");
@import url("formulario-tipogoogle.css");
/* @import url("pagetransition.css"); */
/* Contenido basico */
@import url("paypeermeetStyle.css");
@import url("../plugins/mdtoast.min.css");
@import url("animating-scrolling.css");
@import url("normalize.css");
*,
*:after,
*:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


:root {
    --azul: #003471;
    --fondo-blanco: #f2f2f2;
    --fondo-negro: #272626;
    --vinotinto: #590505;
    --blanco: #fff;
    --negro-ranges: #1a1919;
    --borde-fino: 1px solid #2e2d2d;
}

body {
    background-color: black;
    padding: 0;
    margin: 0;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
}

a {
    text-decoration: none !important;
}

b {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}

.fill {
    width: 100%;
    height: 100%;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.playground {
    /* position: relative; */
    /* margin-bottom: 50px; */
    width: 98vw;
    margin: 0 auto;
    top: 50px;
    margin-top: 50px;
    padding-top: 20px;
}