<app-header></app-header>
<div class="card profileedit">
    <div class="card-body">
        <div class="fotoperfil">
          <div class="perfilf">
              <img [src]="'/assets/images/foto-perfil.jpg'" alt="">
          </div>
            <ul>
                <li><img [src]="'/assets/images/plus.jpg'" alt=""></li>
                <li><img [src]="'/assets/images/plus.jpg'" alt=""></li>
                <li><img [src]="'/assets/images/plus.jpg'" alt=""></li>
            </ul>
        </div>
        <div class="clear"></div>
        <div class="infoperfil">
            <ul>
                <li><b>Username</b> sandeepkasundra</li>
                <li><b>Email</b> sandeepkasundra&#64;gmail.com</li>
                <select name="" id="">
                    <option value="">Select</option>
                    <option value="">English</option>
                    <option value="">Spanish</option>  
                </select>
                <li>Facebook
                    <button>Vincular cuenta</button>
                </li>
                <li>Twitter
                    <button>Vincular cuenta</button>
                </li>
                <li><b>Google +</b> conected</li>
                <li>Show Me</li>
                <li>Women
                    <input type="checkbox" id="conexion">
                      <label for="conexion" id="conexion-toggle"></label>
                </li>
                <li>Men
                    <input type="checkbox" id="conexion2">
                      <label for="conexion2" id="conexion-toggle2"></label>
                </li>
                <li>Maximum Distance</li>
                <li><input type="range" min="1" max="100" value="50" class="slider" id="myRange">
                <br><br><br><center> <b>100</b>mt.   </center></li>
                <li>Age Range</li>
                <li><input type="range" min="1" max="100" value="50" class="slider" id="myRange">
                <br><br><br><center> <b>20-40</b></center></li>
            </ul>
            <div class="clear"></div>
            <br><br>
            <a href="start-meeting.html"><button class="butonhome">Start Meet</button></a>
            <br><br>
        </div>
    </div>
   </div>
